# **BITACORA: Obtención y preparación de datos**

# OD08. Creación de Estructuras en Pandas

### __Nota aclaratoria__: el presente notebook es una de los tantos que se incluyen en el material del programa. El texto que se incluye en color rojo es explicativo de cómo entregar una bitácora.

## <font color='red'>Formas de realizar una buena bitácora</font>
<font color='red'>A continuación les dejamos un ejemplo de lo que consideramos una extraordinaria bitácora.</font>

<font color='red'>Recuerda que:
* La bitácora está constituida por TODOS los notebooks del módulo vistos en clases.
* Incluye un notebook adicional, llamado __CASOS_USO__, el cual debe contener un caso de uso por cada alumno que tenga el grupo. Dejamos un ejemplo de un notebook con casos de uso.
* La entrega debe ser realizada en un directorio Drive de algunos de los miembros del equipo.</font>


<font color='red'>__UNA BITÁCORA DEBE CONTENER, AL MENOS, LO SIGUIENTE__:
* Regla 1: Todas las celdas deben estár correctamente ejecutadas.
* Regla 2: Si se quiere mostrar un error de código que sea pertinente recordar, esto debe quedar claramente identificado (ver ejemplo)
* Regla 3: Se deben incorporar una cantidad predeterminada de materiales adicionales: vídeos, textos, nuevas formas de resolver a las presentadas en clases, etc. (ver ejemplo)
* Regla 4: Se deben incorporar una cantidad predeterminada de experimentos (ver ejemplo)
* Regla 5: Al final de la bitácora, se debe incorporar una reflexión final sobre los contenidos del módulo (ver ejemplo). Para ello, los alumnos deben realizar unba análisis crítico de la herramienta desde un punto de vista de su uso profesional.
</font>

<font color='red'>En las rúbricas del programa se indican las condiciones en las que se aplican y evalúan estas reglas.</font>

In [ ]:
import pandas as pd

Hay dos constructores principales para la creación de series y dataframes: `pd.Series` y `pd.DataFrames`, respectivamente. Estos constructores permiten crear estas estructuras a partir e diferentes tipos de variables: diccionarios, listas, etc. También permiten personalizar las etiquetas de los índices, y filtrar y reordenar las etiquetas de columnas.

## <font color='red'>__Ejemplo de material adicional__<br>
Se debe incorporar material adicional en cualquier formato: videos, links, imágenes, comentarios, etc. </font>

<font color='red'>__IMPORTANTE__: Debemos indicar el inicio y el final del material adicional con títulos en color púrpura. A continuación un ejemplo:</font>

## <font color='purple'>__Material adicional__</font>
En el siguiente video se explica la forma en que se pueden crear Dataframes en Pandas.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo('https://youtu.be/GpdPvpV7MkA')

<font color='purple'>Fin material adicional </font>

## <font color='blue'>**Creación de series**</font>

El constructor para la creación de una serie pandas es `pandas.Series`. Este constructor acepta tres parámetros principales:

* `data`: estructura de datos tipo array, iterable, diccionario o valor escalar que contendrá los valores a introducir en la serie.

* `index`: estructura tipo array con la misma longitud que los datos. Si este argumento no se añade al crear la serie, se agregará un índice por defecto formado por números enteros desde 0 hasta $n-1$, siendo $n$ el número de datos.

* `dtype`: tipo de datos para la serie. Si no se especifica, se inferirá a partir de los daos.

Los valores del índice, no tienen que ser necesariamente distintos aunque ciertas operaciones pueden generar un error si no soportan la posibilidad de tener índices duplicados.

### Creación de una serie a partir de una lista o de un array NumPy

In [ ]:
s = pd.Series([7, 5, 3])
s

0    7
1    5
2    3
dtype: int64

Al no haberse especificado un índice, se asigna uno automáticamente con los valores 0, 1 y 2.

<font color='red'>__ATENCIÓN__: No pueden haber celdas con errores que no sean explícitamente explicados y que intenten generar un aprendizaje concreto.</font>

La siguiente celda nos entregará un error ya que `index` es un atributo y no una función; por lo tanto no podemos invocarlo poniéndole paréntesis.

In [ ]:
# esta celda nos arrojará un error 'RangeIndex' object is not callable
list(s.index())

TypeError: ignored

In [ ]:
list(s.index)

[0, 1, 2]

Si repetimos esta instrucción especificando un índice:

In [ ]:
s = pd.Series([7, 5, 3], index = ["Ene", "Feb", "Mar"])
s

Ene    7
Feb    5
Mar    3
dtype: int64

Vemos cómo el índice por defecto ha sido sustituido por el indicado. En este caso, la longitud del índice deberá coindicir con el número de elementos de la lista.

Los mismos comentarios podrían hacerse si, en lugar de una lista, hubiésemos partido de un array NumPy para crear la serie.

<font color='red'>__ATENCIÓN__: se deben incorporar experimentos que profundicen los contenidos. Estos experimentos pueden desarrollarse a partir de formas alternativas de hacer una misma cosa, el uso de otras funcionalidades o librerías que generen resultados similares, mediciones de tiempos de ejecución, mediciones de uso de memoria, deconstrucciones de código para auto explicarnos el "paso a paso", etc.</font>

<font color='red'>__IMPORTANTE__: Marcamos con el título "EXPERIMENTO" y "Fin experomento", en color púrpura el inicio y el fin de cada experimento respectivaemte. A continuación un ejemplo de Experimento. </font>


## <font color='purple'> __EXPERIMENTO__: </font>

### Creación de una serie a partir de un `array` de Numpy.
La celda anterior enuncia que podríamos haber creado una serie a partir de un array NumPy; desarrollamos ese ejemplo.

In [ ]:
import numpy as np

a = np.array([1, 2, 3, 4])
print(type (a))
a

<class 'numpy.ndarray'>

array([1, 2, 3, 4])

In [ ]:
s2 = pd.Series(a)
s2

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#  Le creamos un índice
s3 = pd.Series(a, index=['A', 'B', 'C', 'D'])
s3

A    1
B    2
C    3
D    4
dtype: int64

Veamos qué pasa si le cambiamos el tipo de datos al array

In [ ]:
b = np.array([1, 2, 3, 4], dtype=np.float16)
print(type (b))
b

<class 'numpy.ndarray'>

array([1., 2., 3., 4.], dtype=float16)

In [ ]:
# y creamos una Serie
s4 = pd.Series(b, index=['A', 'B', 'C', 'D'])
s4

A    1.0
B    2.0
C    3.0
D    4.0
dtype: float16

<font color='purple'>Fin experimento </font>

### Creación de una serie a partir de un diccionario

Si partimos de un diccionario para crear la serie:

In [ ]:
d = {"Ene":7, "Feb":5, "Mar":3}
s = pd.Series(d)
s

Ene    7
Feb    5
Mar    3
dtype: int64

El constructor utiliza las claves como etiquetas del índice, y los valores del diccionario como valores de la serie.

Si incluimos el índice explícitamente en el constructor, los valores en la serie se tomarán en el orden en el que estén en el índice explícito. Además, si en éste hay valores que no pertenecen al conjunto de claves del diccionario, se añaden a la serie con un valor *NaN*:

In [ ]:
d = {"Ene":7, "Feb":5, "Mar":3}
s = pd.Series(d, index = ["Abr", "Mar", "Feb", "Ene"])
s

Abr    NaN
Mar    3.0
Feb    5.0
Ene    7.0
dtype: float64

En este ejemplo, hemos creado la serie especificando el índice que hemos formado dando la vuelta a las claves del diccionario ("Mar", "Feb" y "Ene") y hemos añadido a la lista de etiquetas el valor "Abr", que no pertenece al conjunto de claves del diccionario. Se ha añadido a la serie, pero se le ha asignado el valor *NaN*. Es precisamente la presencia de este valor lo que modifica el tipo de la serie a float.

### Creación de una serie a partir de un escalar

Si los datos se reducen a un escalar (no a una lista con un único elemento, sino a un sencillo escalar como 7 o 15.4) será necesario añadir el índice explícitamente. El número de elementos de la serie coincidirá con el número de elementos del índice, y el escalar será asignado como valor a todos ellos.

<font color='red'>__ATENCIÓN__: todas las actividades deben estar completas y correctas</font>

## <font color='green'>Actividad 1</font>

Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [ ]:
#Solución

años = [2015,2016,2017,2018,2019,2020]
sales = [10000,25000,30000,20000,35000,15000]
sales_serie = pd.Series(sales, años)
inicio = int(input('Ingrese año inicio: '))
fin = int(input('Ingrese año fin: '))
a = 0;
for i in range(0,6):
    if inicio == años[i]:
       a = i
    elif fin == años[i]:
       b = i
       print('Ventas antes del descuento: ')
       for j in range(a,b+1):
           print(sales_serie[años[j]])
       print('Ventas con el descuento aplicado: ')
       for k in range(a,b+1):
          desc =(sales_serie[años[k]])*0.9
          print(desc)

Ingrese año inicio: 2015
Ingrese año fin: 2020
Ventas antes del descuento:
10000
25000
30000
20000
35000
15000
Ventas con el descuento aplicado:
9000.0
22500.0
27000.0
18000.0
31500.0
13500.0

<font color='green'>Fin Actividad 1</font>

## <font color='blue'>**Creación de dataframes**</font>

El constructor de dataframes es `pandas.DataFrame`. Acepta cuatro parámetros principales:

* `data`: estructura de datos ndarray (array NumPy), diccionario u otro dataframe.

* `index`: índice a aplicar a las filas. Si no se especifica, se asignará uno por defecto formado por números enteros entre 0 y $n-1$, siendo $n$ el número de filas del dataframe.

* `columns`: etiquetas a aplicar a las columnas. Al igual que ocurre con el índice de filas, si no se añade se asignará uno automático formado por números enteros entre 0 y $m-1$, siendo $m$ el número de columnas.

* `dtype`: tipo a aplicar a los datos. Solo se permite uno. Si no se especifica, se infiere el tipo de cada columna a partir de los datos que contengan.

Los valores de los índices de filas y columnas no tienen por qué ser necesariamente distintos.

### Creación de un dataframe a partir de un diccionario de listas

En este escenario partimos del siguiente diccionario de listas de valores:

In [ ]:
elementos = {
    "Número atómico":[1, 6, 47, 88],
    "Masa atómica":[1.008, 12.011, 107.87, 226],
    "Familia":["No metal", "No metal", "Metal", "Metal"]
}
elementos

{'Número atómico': [1, 6, 47, 88],
 'Masa atómica': [1.008, 12.011, 107.87, 226],
 'Familia': ['No metal', 'No metal', 'Metal', 'Metal']}

Y creamos el dataframe con él como primer argumento:

In [ ]:
tabla_periodica = pd.DataFrame(elementos)
tabla_periodica

   Número atómico  Masa atómica   Familia
0               1         1.008  No metal
1               6        12.011  No metal
2              47       107.870     Metal
3              88       226.000     Metal

El dataframe se ha creado situando las claves del diccionario como etiquetas de columnas y las listas asociadas a cada clave como columnas del dataframe. Al no haber especificado un índice de filas, éste ha tomado valores por defecto (0, 1, 2 y 3).

A continuación repetimos la misma operación especificando las etiquetas tanto para filas como para columnas, utilizando los parámetros `index` y `columns`, respectivamente:

In [ ]:
tabla_periodica = pd.DataFrame(elementos,
                               index = ["H", "C", "Ag", "Ra"],
                               columns = ["Familia", "Número atómico", "Masa atómica"]
                               )
tabla_periodica

     Familia  Número atómico  Masa atómica
H   No metal               1         1.008
C   No metal               6        12.011
Ag     Metal              47       107.870
Ra     Metal              88       226.000

Con el parámetro `columns` podemos especificar el orden en el que se mostrarán las columnas o incluso filtrar éstas (no incluyendo todas las etiquetas presentes en el diccionario como claves), pero no cambiar sus nombres. De hecho, si alguna de las etiquetas incluidas en dicho argumento no apareciese en el conjunto de claves del diccionario, se crearía una columna con dicho nombre pero con todos sus valores fijados a *NaN*.

Si, en lugar de listas de datos como valores del diccionario, hubiesen sido arrays NumPy o series, el procedimiento habría sido exactamente el mismo.

### Creación de un dataframe a partir de un array NumPy

En el caso de partir de un array NumPy, si no se especifican las etiquetas de filas y columnas, se asignan las etiquetas por defecto:

In [ ]:
import numpy as np
unidades_datos = np.array([[2, 5, 3, 2],
                           [4, 6, 7, 2],
                           [3, 2, 4, 1]])
unidades_datos

array([[2, 5, 3, 2],
       [4, 6, 7, 2],
       [3, 2, 4, 1]])

In [ ]:
unidades = pd.DataFrame(unidades_datos)
unidades

   0  1  2  3
0  2  5  3  2
1  4  6  7  2
2  3  2  4  1

Las filas del array NumPy siguen siendo interpretadas como filas del dataframe.

Si especificamos las etiquetas de filas y columnas, el resultado es diferente:

In [ ]:
unidades = pd.DataFrame(unidades_datos,
                        index = [2015, 2016, 2017],
                        columns = ["Ag", "Au", "Cu", "Pt"])
unidades

      Ag  Au  Cu  Pt
2015   2   5   3   2
2016   4   6   7   2
2017   3   2   4   1

### Creación de un dataframe a partir de una lista de diccionarios

También podemos partir de un conjunto de diccionarios, cada uno definiendo el contenido de lo que será una fila del dataframe:

In [ ]:
unidades_2015 = {"Ag":2, "Au":5, "Cu":3, "Pt":2}
unidades_2016 = {"Ag":4, "Au":6, "Cu":7, "Pt":2}
unidades_2017 = {"Ag":3, "Au":2, "Cu":4, "Pt":1}
unidades = pd.DataFrame([unidades_2015, unidades_2016, unidades_2017],
                        index = [2015, 2016, 2017])
unidades

      Ag  Au  Cu  Pt
2015   2   5   3   2
2016   4   6   7   2
2017   3   2   4   1

Los diccionarios deberán compartir el mismo conjunto de claves que se interpretarán como etiquetas de columnas. Si las etiquetas no coinciden, se crearán todas las columnas pero se asignarán *NaN* a los valores desconocidos:

In [ ]:
unidades_2015 = {"Ag":2, "Au":5, "Cu":3, "Pt":2}
unidades_2016 = {"Ag":4, "Au":6, "Cu":7, "Pt":2}
unidades_2017 = {"Ag":3, "Pb":2, "Cu":4, "Pt":1}
unidades = pd.DataFrame([unidades_2015, unidades_2016, unidades_2017],
                        index = [2015, 2016, 2017])
unidades

      Ag   Au  Cu  Pt   Pb
2015   2  5.0   3   2  NaN
2016   4  6.0   7   2  NaN
2017   3  NaN   4   1  2.0

En este ejemplo, el año 2017 tiene una clave, *Pb*, que no existe en los otros dos diccionarios. Y este mismo año carece de la clave Au que sí se encuentra en los otros dos. Vemos cómo los datos no coincidentes se han rellenado con *NaN*.

### Otros métodos

Además de poder partir de otras estructura además de las vistas (de un diccionario de tuplas, por ejemplo), hay dos constructores adicionales:
* `pandas.DataFrame.from_dict`, que crea un dataframe a partir de un diccionario de diccionarios o de secuencias tipo array, y
*`pandas.DataFrame.from_records`, que parte de una lista de tuplas o de arrays NumPy con un tipo estructurado.

<font color='PURPLE'>__EXPERIMENTO__:</font>

 Creación de un DataFrame utilizando el método `pandas.DataFrame.from_dict`

In [ ]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

Ahora intentaremos crea un DataFrame a partir de un diccionario de diccionarios.

In [ ]:
d = {'Jill': {'Django Unchained': 6.5, 'Gone Girl': 9.0, 'Kill the Messenger': 8.0, 'Avenger: Age of Ultron': 7.0},
     'Toby': {'Django Unchained': 9.0, 'Zoolander': 2.0, 'Avenger: Age of Ultron': 8.5}}
d

{'Jill': {'Django Unchained': 6.5,
  'Gone Girl': 9.0,
  'Kill the Messenger': 8.0,
  'Avenger: Age of Ultron': 7.0},
 'Toby': {'Django Unchained': 9.0,
  'Zoolander': 2.0,
  'Avenger: Age of Ultron': 8.5}}

In [ ]:
pd.DataFrame.from_dict(d)

                        Jill  Toby
Django Unchained         6.5   9.0
Gone Girl                9.0   NaN
Kill the Messenger       8.0   NaN
Avenger: Age of Ultron   7.0   8.5
Zoolander                NaN   2.0

Podemos cambiar la orientación del índice

In [ ]:
pd.DataFrame.from_dict(d, orient='index')

,Django Unchained,Gone Girl,Kill the Messenger,Avenger: Age of Ultron,Zoolander
Jill,6.5,9.0,8.0,7.0,NaN
Toby,9.0,NaN,NaN,8.5,2.0

<font color='purple'>Fin experimento</font>

<font color='red'>__LINKS DE INTERÉS__: Incorporamos links de profundización</font>

Los destacamos en rojo. A continuación un ejemplo

<font color='red'>__LINK DE INTERÉS__: Uso de `pandas.DataFrame.from_records`</font>

El uso de `pandas.DataFrame.from_records` lo podemos ver en el siguiente link [aquí](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_records.html).

## <font color='green'>Actividad 2</font>

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

| Mes     | Ventas | Gastos |
| ------- | -----: | -----: |
| Enero   |  30500 |  22000 |
| Febrero |  35600 |  23400 |
| Marzo   |  28300 |  18100 |
| Abril   |  33900 |  20700 |
| Mayo    |  31450 |  25620 |
| Junio   |  33040 |  25500 |

In [ ]:
#Solución

elementos = {"Ventas":[30500, 35600, 28300, 33900,31450,33040],
             "Gastos":[22000,23400,18100,20700,25620,25500]}
ventas_gastos=pd.DataFrame(elementos, index=["Enero","Febrero","Marzo","Abril","Mayo","Junio"])
ventas_gastos.index.name = "Mes"
ventas_gastos

         Ventas  Gastos
Mes
Enero     30500   22000
Febrero   35600   23400
Marzo     28300   18100
Abril     33900   20700
Mayo      31450   25620
Junio     33040   25500

<font color='green'>Fin Actividad 2</font>

## <font color='red'>__REFLEXIÓN GRUPAL__:<br>
Al final de la bitácora, en su último notebook, debemos incluir una reflexión grupal acerca de las herramientas y contenidos desde una perspectiva de uso profesional de las mismas.</font>
## <font color='red'>
### __Algunos aspectos a evaluar pueden ser:__</font>
## <font color='red'>
* Funcionalidad y capacidades: Evaluar la funcionalidad y las capacidades de la herramienta en relación con las necesidades específicas del contexto profesional. ¿La herramienta proporciona todas las funcionalidades requeridas? ¿Es fácil de usar y entender? ¿Permite realizar las tareas de análisis y visualización de datos de manera eficiente y efectiva?
* Rendimiento y escalabilidad: Analizar el rendimiento de la herramienta en términos de velocidad y eficiencia al trabajar con conjuntos de datos grandes o complejos. ¿La herramienta puede manejar grandes volúmenes de datos sin problemas? ¿Es escalable y se adapta bien a diferentes tamaños de datos?
* Documentación y comunidad de usuarios: Revisar la documentación y la disponibilidad de recursos de soporte, como tutoriales, ejemplos de código y documentación oficial. Además, investigar la comunidad de usuarios en torno a la herramienta. ¿La documentación es clara y completa? ¿Existen recursos y foros de discusión activos donde se pueda obtener ayuda y compartir conocimientos?
* Mantenimiento y actualizaciones: Considerar la frecuencia y la calidad de las actualizaciones de la herramienta. ¿La herramienta está activamente mantenida y actualizada? ¿Se corrigen los errores de manera oportuna? ¿Se agregan nuevas características y mejoras regularmente?
* Compatibilidad y integración: Evaluar la compatibilidad de la herramienta con otros componentes del entorno de trabajo, como sistemas operativos, bases de datos, lenguajes de programación u otras bibliotecas y herramientas utilizadas en el contexto profesional. ¿La herramienta se integra bien con otros sistemas y tecnologías existentes?
* Curva de aprendizaje y facilidad de uso: Considerar la curva de aprendizaje de la herramienta y evaluar su facilidad de uso para los miembros del equipo o profesionales que la utilizarán. ¿Es intuitiva y fácil de aprender para aquellos con diferentes niveles de experiencia en programación y análisis de datos?
* Flexibilidad y personalización: Evaluar la flexibilidad y la capacidad de personalización de la herramienta. ¿Permite adaptarse a diferentes casos de uso y requisitos específicos del contexto profesional? ¿Ofrece opciones de configuración y personalización para ajustarse a las necesidades individuales o del equipo?</font>

<font color='red'>__IMPORTANTE__: Debemos incorporar al inicio y al final de la reflexión grupal, la palabra "Reflexión Grupal" con títulos en color púrpura. A continuación un ejemplo:</font>

## <font color='purple'>__REFLEXIÓN GRUPAL__:<br>
La analítica de datos ha avanzado considerablemente en los últimos años y ahora existen diversas herramientas que nos permiten realizar tareas o procesos que antes eran complicados de realizar. Gracias a su versatilidad, el lenguaje de programación Python posee una serie de librerías que permiten realizar proyectos de analítica de datos de una forma muy sencilla y una de las librerías más populares es Pandas. En este curso tuvimos la oportunidad de enfocamos en:

* Conocer los conceptos, métodos y funciones de la librería Pandas.
* Analizar datos con la librería de Pandas de forma rápida y sencilla.
* Usar la librería de Pandas para importar, construir y manipular Series y DataFrames.
* Comprobar que la librería Pandas en muy similar al uso de Excel, pero nos permite desarrollar actividades más complejas y con un mayor volúmen de datos.

__Funcionalidad y capacidades:__ Pandas es una biblioteca de análisis y manipulación de datos extremadamente poderosa en Python. Su funcionalidad incluye la capacidad de cargar, limpiar, transformar y analizar datos de manera eficiente. También ofrece numerosas funciones para realizar operaciones estadísticas y de agregación en conjuntos de datos.

__Rendimiento y escalabilidad:__ Pandas está diseñado para manejar grandes volúmenes de datos de manera eficiente. Sin embargo, al trabajar con conjuntos de datos muy grandes, es posible que se requieran técnicas adicionales, como el uso de muestras o la optimización de código, para mejorar el rendimiento. Escala de forma eficiente con otras librerías tales como Dask.

__Documentación y comunidad de usuarios:__ Pandas cuenta con una excelente documentación oficial, que incluye una guía de usuario completa, tutoriales y ejemplos de código. Además, la comunidad de usuarios de pandas es activa y colaborativa, lo que significa que hay una amplia gama de recursos y fuentes de ayuda disponibles en línea.

__Mantenimiento y actualizaciones:__ Pandas es una biblioteca madura y bien mantenida, con una comunidad de desarrollo activa. El equipo de Pandas lanza regularmente nuevas versiones que corrigen errores, agregan nuevas características y mejoran el rendimiento.

__Compatibilidad y integración:__ Pandas se integra bien con otras bibliotecas y herramientas de análisis de datos en el ecosistema de Python, como NumPy, matplotlib, Dask y scikit-learn. También es compatible con una variedad de formatos de datos, lo que facilita la importación y exportación de datos desde y hacia otras fuentes.

__Curva de aprendizaje y facilidad de uso:__ Pandas tiene una curva de aprendizaje moderada, especialmente si tienes experiencia previa con Python y estructuras de datos tabulares. La sintaxis y las operaciones de pandas pueden requerir cierta familiarización, pero una vez que te acostumbras, se vuelve una herramienta potente y flexible.

__Flexibilidad y personalización:__ Pandas ofrece una amplia gama de funcionalidades y opciones de configuración para adaptarse a diferentes requisitos y escenarios de análisis de datos. Además, Pandas es altamente extensible y permite el desarrollo de funciones personalizadas para satisfacer necesidades específicas (e.g.; métodos `apply()`y `map()`).

__Trabajo futuro__: Como equipo creemos que debemos seguir profundizando en el conocimiento de Pandas en los siguientes aspectos:
* Escalado a grandes volúmenes de datos con Dask
* Entender las dinámicas de la librería de forma tal de optimizar el rendimiento de ciertas tareas.
* Profundizar en el uso de tablas dinámicas y el uso de `loc` e `iloc`.
* Explorar más casos de usos avanzados.
* Incorporarnos a una comunidad de usuarios.

## <font color='purple'>Fin reflexión grupal</font>